body {
    background-color: green;
}

.planet-image {
    width: 200px;
    height: 200px;
}

#planet-cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.star {
    margin: 2%;
    padding: 2%;
    width: 200px;
    border: 2px solid rgb(67, 141, 216);
    text-align: center;
    background-color: rgb(67, 141, 216);
}